/* section div{
    display: flex;
    flex-flow:  row wrap;    
}
.card{
    display: flex;
    flex-flow: column;
    justify-items: end;
    width: 50%;
}
.card:nth-child(odd){
    align-items: flex-end;
}
.card h3{
    width: 70px;
}
img{
    width: 80px;
    height: 180px;
} */
