@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: Ubuntu;
}
body{
    background-image: url('./fondo.jpg');
    background-repeat: repeat;
    
}
#projects{
    background-image: url('./fondo.jpg');
    background-repeat: no-repeat;
}
#navbarMobile{
    background-image: url('./fondo.jpg');
    background-repeat: no-repeat;
}