@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: Ubuntu;
}
body{
    /* background-image: url('./fondo.jpg');
    background-repeat: repeat; */
    background-color:#0c2233;
    
}
#navbarMobile{
    background-image: url('./fondo.jpg');
    background-repeat: no-repeat;
}